# Python 
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/

# AI/Data
.env
.ipynb_checkpoints/
data/

# React / Node (Frontend)
node_modules/
dist/
.eslintcache
*.log

# OS Specific
.DS_Store
Thumbs.db