# Python
__pycache__/
*.py[cod]
*$py.class
gitscribe.egg-info/
build/

# Environments
.venv/
venv/
env/
data/

# AI/Data
.env
.ipynb_checkpoints/

# React / Node (Frontend)
node_modules/
dist/
.eslintcache
*.log

# OS Specific
.DS_Store
Thumbs.db